.top-div {
    margin-bottom: 30px;
}
.profile-pic{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 8%;
}
.usredit{
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    margin-left: 20%;
    width: 70%;
}
.flex-container-1{
    display:flex;
    flex-flow: row wrap;
    margin-top: -1%;
}

.flex-container{
    display:flex;
    flex-flow: row wrap;
}
.flex-container-column-1{
    display:flex;
    flex-direction:column;
    flex: 1 1 0;
}
.flex-container-column{
    display:flex;
    flex-direction:column;
    flex: 1 1 0;
}
.flex-item{
    display:flex;
}
.flex-1{
    flex:1;
}
.flex-2{
    flex:2;
}

.userDetailModalClass{
    width:250px !important
}

.justify-content-end{
    justify-content: flex-end;
}
.addBtn{
    height: 35px;
    margin-top: 30px !important;
    margin-left: 10px !important;
}
.editBtn{
    margin-left: 20px !important;
}
